<!DOCTYPE html>
<html>
<head>
{% load static %}
<link rel='stylesheet' href='{% static "/css/site.css "%}'>
</head>
	<body class='store-bg'>
		<div class=''>
		{% include '_navbar.html' %}
		</div>
		<div class='container main-content pad-side py-2'>
				{% include 'storefront/_sidebar.html'%}
			
			<div class='banner'>
				<img src={% static 'img/seamless stone.jpg'%} alt='a pile of stones'>
			</div>
			<div class='product-grid flex-row pad-side'>
				{%  for product in products %}
					{% include 'storefront/_product.html' %}
				{% endfor  %}
			</div>
			<div id='page-numbers' class='flex-row flex-justify-center'>
				{% for page in numpages %}
					<button class=''>{{page}}</button>
				{% endfor %}
			</div>
		</div>

		
	</body>
	<script src='{% static "js/site.js"%}'></script>
</html>